<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>1e90ff Hexadecimal RGB Color >> IROLiNK</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        <div class="container">
            <header id="header">
                <div class="line-1st"></div>
                <div class="line-2nd"></div>
                <div class="header-inner">
                    <div class="header-logo">IROLiNK</div>
                    <h1 class="header-title">#1e90ff (Dodger Blue) Hexadecimal RGB</h1>
                </div>
            </header>
            <section id="pagebody" class="cl">
                <div class="pagebody-inner cl">
                    <article id="main">
                        <h1 class="main-title">#1e90ff (Dodger Blue) Hexadecimal RGB</h1>
                        <section class="color-content">
                            <section class="color-description">
                                <h1 class="color-headline margin-top-none">
                                    Color Description
                                </h1>
                                <p class="color-sentence">
                                    The <a href="#">#1e90ff</a> is the Hexadecimal RGB Color space. It is a composed in red of 11.8%, green of 56.5%, blue of 100%.
                                    If you converting to CMYK Color space from this color space, it is a composed in cyan of 12%, magenta of 23%, yellow of 0%, black of 0%.

                                </p>
                                <div class="color-chart">
                                    <img src="http://placehold.it/200/1e90ff/ffffff&text=%20" width="100%" height="100">
                                </div>
                            </section>
                            <section>
                                <h1 class="color-headline">
                                    Color Conversion
                                </h1>
                               <ul class="color-code-table">
                                   <li>
                                        <span class="color-code-name" >RGB Decimal</span>
                                    
                                        <span class="color-code-value">30, 44, 255</span>
                                        <span class="color-code-input"><input type="text" value="rgb(30, 44, 255)" readonly></span>
                                    </li>
                                   <li>
                                        <span class="color-code-name" >RGB Hexadecimal</span>
                                        <span class="color-code-value">#1e90ff</span>
                                        <span class="color-code-input"><input type="text" value="#1e90ff" readonly></span>
                                   </li>
                                   <li>
                                        <span class="color-code-name" >RGB Percent</span>
                                        <span class="color-code-value">11.8%, 56.5%, 100%</span>
                                        <span class="color-code-input"><input type="text" value="rgb(11.8%, 56.5%, 100%)" readonly></span>
                                   </li>
                                   <li>
                                        <span class="color-code-name" >CMYK</span>
                                        <span class="color-code-value">11.8%, 56.5%, 100%</span>
                                        <span class="color-code-input"><input type="text" value="rgb(11.8%, 56.5%, 100%)" readonly></span>
                                   </li>
                                   <li>
                                        <span class="color-code-name" >HSV</span>
                                        <span class="color-code-value">11.8%, 56.5%, 100%</span>
                                        <span class="color-code-input"><input type="text" value="rgb(11.8%, 56.5%, 100%)" readonly></span>
                                   </li>
                                </ul>
                            </section>
                            <section>
                                <h1 class="color-headline">
                                    Color Schemes
                                </h1>
                                <section class="color-schemes">
                                    <h1 class="color-scheme-title">Complementary Color</h1>
                                    <div class="color-scheme-list">
                                        <ul class="split-2">
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/color/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/color/008b00">#008b00</a></li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="color-schemes">
                                    <h1 class="color-scheme-title">Analogous Color</h1>
                                    <div class="color-scheme-list">
                                        <ul class="split-3">
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/color/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/color/008b00">#008b00</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#333333;" href="/color/333333">#333333</a></li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="color-schemes">
                                    <h1 class="color-scheme-title">Triadic Color</h1>
                                    <div class="color-scheme-list">
                                        <ul class="split-4">
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/color/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/color/008b00">#008b00</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#333333;" href="/color/333333">#333333</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/color/cd0000">#cd0000</a></li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="color-schemes">
                                    <h1 class="color-scheme-title">Hexadic Color</h1>
                                    <div class="color-scheme-list">
                                        <ul class="split-5">
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/color/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/color/008b00">#008b00</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#333333;" href="/color/333333">#333333</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/color/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/color/008b00">#008b00</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </section>
                        </section>
                    </article>
                    <aside id="menu">
                        <div class="menu-inner">
                            <section class="color-content">
                                <section class="color-description">
                                    <h1 class="color-headline margin-top-none"></h1>
                                </section>
                            </section>
                        </div>
                    </aside>
                </div>
            </section>
            <footer id="footer">
                <div class="footer-inner">
                    <small class="footer-copyright">&copy; IROLiNK</small>
                </div>
            </footer>
        </div>
        <script src="./assets/js/script.js"></script>
    </body>
</html>
