<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ colorcode_text|e }} Hexadecimal RGB Color >> IROLiNK</title>
        <meta name="description" content="{{ colorcode_text|e }} Hexadecimal RGB color code information, schemes, description and conversion in RGB, CMYK, HSL, HSV, etc." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="Ig85mcAD-eX5I57oTDhwrZKQYATLtx3IwUXuZ8qzufU">
        <link rel="stylesheet" href="/assets/css/style.css">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-64016413-1', 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="container">
            <header id="header">
                <div class="line-1st"></div>
                <div class="line-2nd"></div>
                <div class="header-inner">
                    <div class="header-logo"><a href="/">IROLiNK</a></div>
                    <h1 class="header-title">{{ colorcode_text|e }} Hexadecimal RGB</h1>
                </div>
            </header>
            <section id="pagebody" class="cl">
                <div class="pagebody-inner cl">
                    <article id="main">
                        <h1 class="main-title">{{ colorcode_text|e }} Hexadecimal RGB</h1>
                        <section class="color-content">
                            <section class="color-description">
                                <h1 class="color-headline margin-top-none">
                                    Color Description
                                </h1>
                                <p class="color-sentence">
                                    The <a href="/rgb-hex/{{ colorcode_link }}">{{ colorcode_text|e }}</a> is the Hexadecimal RGB Color space. It is a composed in red of {{ rgb_percent.r|round(1)|e }}%, green of {{ rgb_percent.g|round(1)|e }}%, blue of {{ rgb_percent.b|round(1)|e }}%.
                                    If you converting to CMYK Color space from this color space, it is a composed in cyan of {{ cmyk.c|round(1)|e }}%, magenta of {{ cmyk.m|round(1)|e }}%, yellow of {{ cmyk.y|round(1)|e }}%, black of {{ cmyk.k|round(1)|e }}%.
                                </p>
                                <div class="color-chart">
                                    <img src="/api/one-color-image/{{ colorcode_link }}" width="100%" height="100" alt="{{ colorcode_text|e }}">
                                </div>
                            </section>
                            <section>
                                <h1 class="color-headline">
                                    Color Conversion
                                </h1>
                                <ul class="color-code-table">
                                    <li>
                                        <span class="color-code-name" title="Hexadecimal of Red, Green, Blue">RGB Hexadecimal</span>
                                        <span class="color-code-value">#{{ rgb_hex.r|e }}{{ rgb_hex.g|e }}{{ rgb_hex.b|e }}</span>
                                        <span class="color-code-input">
                                            <input 
                                                type="text" 
                                                value="#{{ rgb_hex.r|e }}{{ rgb_hex.g|e }}{{ rgb_hex.b|e }}" 
                                                readonly>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-code-name" title="Decimal of Red, Green, Blue">RGB Decimal</span>
                                        <span class="color-code-value">{{ rgb_dec.r|e }}, {{ rgb_dec.g|e }}, {{ rgb_dec.b|e }}</span>
                                        <span class="color-code-input">
                                            <input 
                                                type="text" 
                                                value="rgb({{ rgb_dec.r|e }}, {{ rgb_dec.g|e }}, {{ rgb_dec.b|e }})" 
                                                readonly>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-code-name" title="Percent of Red, Green, Blue">RGB Percent</span>
                                        <span class="color-code-value">{{ rgb_percent.r|round|e }}%, {{ rgb_percent.g|round|e }}%, {{ rgb_percent.b|round|e }}%</span>
                                        <span class="color-code-input">
                                            <input 
                                                type="text" 
                                                value="rgb({{ rgb_percent.r|round|e }}%, {{ rgb_percent.g|round|e }}%, {{ rgb_percent.b|round|e }}%)" 
                                                readonly>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-code-name" title="Cyan Magenda Yellow Black">CMYK</span>
                                        <span class="color-code-value">{{ cmyk.c|round(0)|int|e }}, {{ cmyk.m|round(0)|int|e }}, {{ cmyk.y|round(0)|int|e }}, {{ cmyk.k|round(0)|int|e }}</span>
                                        <span class="color-code-input">
                                            <input 
                                                type="text" 
                                                value="cmyk({{ cmyk.c|round(0)|int|e }}, {{ cmyk.m|round(0)|int|e }}, {{ cmyk.y|round(0)|int|e }}, {{ cmyk.k|round(0)|int|e }})" 
                                                readonly>
                                        </span>
                                    </li>
                                    <!--
                                    <li>
                                        <span class="color-code-name" title="Hue Saturation Lightness">HSL</span>
                                        <span class="color-code-value">{{ hsl.h|e }} {{ hsl.s|e }} {{ hsl.l|e }}</span>
                                        <span class="color-code-input">
                                            <input 
                                                type="text" 
                                                value="hsl({{ hsl.h|e }} {{ hsl.s|e }} {{ hsl.l|e }})" 
                                                readonly>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="color-code-name" title="Hue Saturation Value">HSV</span>
                                        <span class="color-code-value">{{ hsv.h|e }} {{ hsv.s|e }} {{ hsv.v|e }}</span>
                                        <span class="color-code-input">
                                            <input 
                                                type="text" 
                                                value="hsl({{ hsl.h|e }} {{ hsl.s|e }} {{ hsl.l|e }})" 
                                                readonly>
                                        </span>
                                    </li>
                                    -->
                                </ul>
                            </section>
                            <section>
                                <h1 class="color-headline">
                                    Color Gradation
                                </h1>
                                <section class="color-schemes">
                                    <div class="color-scheme-list">
                                        <ul class="split-11">
                                            {% for cell in nearly_colors %}
                                                <li class="color-scheme-item">
                                                    <a class="invisible-text" style="background-color:#{{ cell.r }}{{ cell.g }}{{ cell.b }};" href="/rgb-hex/{{ cell.r }}{{ cell.g }}{{ cell.b }}">#{{ cell.r }}{{ cell.g }}{{ cell.b }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </section>
                            </section>
                            <!--
                            <section>
                                <h1 class="color-headline">
                                    Color Schemes
                                </h1>
                                <section class="color-schemes">
                                    <h1 class="color-scheme-title">Complementary Color</h1>
                                    <div class="color-scheme-list">
                                        <ul class="split-2">
                                            <li class="color-scheme-item">
                                                <a class="invisible-text" style="background-color:#cd0000;" href="/rgb-hex/cd0000">#cd0000</a>
                                            </li>
                                            <li class="color-scheme-item">
                                                <a class="invisible-text" style="background-color:#008b00;" href="/rgb-hex/008b00">#008b00</a>
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="color-schemes">
                                    <h1 class="color-scheme-title">Analogous Color</h1>
                                    <div class="color-scheme-list">
                                        <ul class="split-3">
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/rgb-hex/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/rgb-hex/008b00">#008b00</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#333333;" href="/rgb-hex/333333">#333333</a></li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="color-schemes">
                                    <h1 class="color-scheme-title">Triadic Color</h1>
                                    <div class="color-scheme-list">
                                        <ul class="split-4">
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/rgb-hex/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/rgb-hex/008b00">#008b00</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#333333;" href="/rgb-hex/333333">#333333</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/rgb-hex/cd0000">#cd0000</a></li>
                                        </ul>
                                    </div>
                                </section>
                                <section class="color-schemes">
                                    <h1 class="color-scheme-title">Hexadic Color</h1>
                                    <div class="color-scheme-list">
                                        <ul class="split-5">
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/rgb-hex/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/rgb-hex/008b00">#008b00</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#333333;" href="/rgb-hex/333333">#333333</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/rgb-hex/cd0000">#cd0000</a></li>
                                            <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/rgb-hex/008b00">#008b00</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </section>
                            -->
                        </section>
                    </article>
                    <aside id="menu">
                        <div class="menu-inner">
                            <section class="color-content">
                                <section class="color-description">
                                    <h1 class="color-headline margin-top-none">Sponsored Link</h1>
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- IROLiNK_サイドバー上部 -->
                                    <ins class="adsbygoogle"
                                         style="display:block"
                                         data-ad-client="ca-pub-1182643073398882"
                                         data-ad-slot="7117720246"
                                         data-ad-format="auto"></ins>
                                    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                                </section>
                            </section>
                        </div>
                    </aside>
                </div>
            </section>
            <footer id="footer">
                <div class="footer-inner">
                    <small class="footer-copyright">&copy; <a href="/">IROLiNK</a></small>
                </div>
            </footer>
        </div>
        <script src="/assets/js/script.js"></script>
    </body>
</html>
