{% extends 'layout.html' %}

{% block title %}IROLiNK - RGB color, CMYK, HSL, HSV informations{% endblock %}
{% block description %}Hexadecimal RGB color code information, schemes, description and conversion in RGB Decimal, RGB Percent, CMYK, HSL, HSV, etc.{% endblock %}
{% block header_title %}RGB color, CMYK, HSL, HSV informations{% endblock %}
{% block main_title %}RGB color, CMYK, HSL, HSV informations{% endblock %}
{% block content %}
<article id="main">
    <h1 class="main-title">RGB color, CMYK, HSL, HSV informations</h1>
    <section class="color-content">
        <section class="color-description">
            <h1 class="color-headline margin-top-none">
                Recommend Color
            </h1>
            <section class="color-schemes">
                <div class="color-scheme-list">
                    <ul class="split-5">
                        <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cd0000;" href="/rgb-hex/cd0000">#cd0000</a></li>
                        <li class="color-scheme-item"><a class="invisible-text" style="background-color:#008b00;" href="/rgb-hex/008b00">#008b00</a></li>
                        <li class="color-scheme-item"><a class="invisible-text" style="background-color:#666666;" href="/rgb-hex/666666">#666666</a></li>
                        <li class="color-scheme-item"><a class="invisible-text" style="background-color:#1e90ff;" href="/rgb-hex/1e90ff">#1e90ff</a></li>
                        <li class="color-scheme-item"><a class="invisible-text" style="background-color:#cae1ff;" href="/rgb-hex/cae1ff">#cae1ff</a></li>
                    </ul>
                </div>
            </section>
        </section>
        <section class="color-description">
            <h1 class="color-headline margin-top-none">
                Color Lists
            </h1>
            <ul>
                <li><a href="/html-16-base-colors">HTML 16 Base Colors</a></li>
            </ul>
        </section>
    </section>
</article>
<aside id="menu">
    <div class="menu-inner">
        <section class="color-content">
            <section class="color-description">
                <h1 class="color-headline margin-top-none">Sponsored Link</h1>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- IROLiNK_サイドバー上部 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1182643073398882"
                     data-ad-slot="7117720246"
                     data-ad-format="auto"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </section>
        </section>
    </div>
</aside>
{% endblock %}
